@{
    ViewBag.Title = "ContàConmigo";
}

<div class="jumbotron">
    <h1>ContàConmigo</h1>
    <h2> Red de Donantes</h2>
    <p class="lead">Bienvenidos al sitio ContàConmigo, destinado a contactar a aquellas personas que necesitan donantes de sangre junto a aquellos donantes voluntarios.</p>
    <p>Donar sangre es un acto desinteresado, que contribuye a salvar vidas y a mejorar la salud.</p>
    <p>9 de cada 10 personas necesitarán recibir sangre transfundida en algún momento de su vida</p>
    <p>Apuntate Aquí para Donar Sangre &raquo;</p>
    @Html.ActionLink("AgregarSolicitud", "ListadoSolicitudDonante")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Información para Donantes</h2>
        <p>
            Antes de donar, informate
        </p>
        <p><a class="btn btn-primary" href="https://www.argentina.gob.ar/salud/donarsangre/como">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donante de Sangre</h2>
        <p>.</p>
        <p>@*<a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@</p>
        <p>
            @Html.ActionLink("Solicitud de Donantes", "ListadoSolicitudDonante", "ListadoSolicitudDonantes")
        </p>
        <p>@Html.ActionLink("Donantes", "ListadoDonantes", "Donante")</p>
    </div>
    <div class="col-md-4">
        <h2>Donante de Médula Ósea o Plaquetas</h2>
        <p>.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@*@section scripts{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @if (Model != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("Inserted Customer ID: " + @Model.NombreCompleto);
            });
        </script>
    }
}*@